.message
  .message__upper
    .message__members 
      = message.user.name
    %a.message__timestamp
      = message.created_at.strftime("%Y/%m/%d %H:%M")
  .message__chat 
    - if message.content.present?
      %p.message__content
        = message.content
    = image_tag message.image.url, class: 'message__image' if message.image.present?