.header
  %h3.header__name test-user
  %ul.header__lists
    %li.list
      = link_to "messages#index" do//#リンク仮置き
        = fa_icon 'pencil-square-o', class: 'icon'
    %li.list
      = link_to "messages#index" do//#リンク仮置き
        = fa_icon 'cog', class: 'icon'
.groups
  .groups__title sample
  .groups__chat hello