h1 {
  letter-spacing: 2px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
h2 {
  margin-bottom: 10px;
  color: #f05050;
  font-size: 14px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 0;
  padding: 0;
  font-size: 13px;
}



.chat-group-form {
  width: 980px;
  margin: 60px auto;
  padding: 40px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  &__errors {
    margin: 30px 0;
    padding: 20px 40px;
    border: 1px solid #ddd;
    border-radius: 2px;
    text-align: center;
  }
  &__label {
    display: block;
    line-height: 50px;
    font-weight: bold;
    text-align: right;
  }
  &__input {
    float: left;
    width: 100%;
    line-height: 30px;
    padding: 10px 15px;
    box-sizing: border-box;
  }
  &__action-btn {
    display: inline-block;
    padding: 12px 20px;
    color: #fff;
    background-color: #38aef0;
    border: 0;
  }
  &__field {
    margin-top: 30px;
    &:after {
      content: "";
      clear: both;
      display: block;
    }
    &--left {
      float: left;
      width: 30%;
      padding-right: 20px;
      padding-left: 20px;
      box-sizing: border-box;
    }
    &--right {
      float: right;
      width: 70%;
    }
  }
}

.chat-group-user {
  padding: 0 15px;
  line-height: 50px;
  font-size: 14px;
  border-bottom: 1px solid #ddd;
  &:after {
    content: "";
    clear: both;
    display: block;
  }
  &__name {
    float: left;
  }
  &__btn {
    float: right;
    display: inline-block;
    cursor: pointer;
    &--add {
      color: #38aef0;
    }
    &--remove {
      color: #f05050;
    }
  }
}

.groups{
  background-color: #2f3e51;
  height: calc(100vh - 100px);
  padding: 20px 20px 40px;
  box-sizing: border-box;
   .group{
      margin-bottom: 40px;
      &__name{
        color: #fff;
        font-size: 15px;
      }
      &__message{
        color: #fff;
        font-size: 11px;
        margin-top: 5px;
      }
   }
}

.chat{
  width: calc(100% - 300px);
  .header{
    box-sizing: border-box;
    height: 100px;
    padding: 0 40px;
  }
}

.header-left{
  display: inline-block;
  &__title{
  color: #333;
  font-size: 20px;
  margin-top: 35px;
  margin-bottom: 15px;
  }
  &__list{
  color: #999;
  font-size: 12px;
  margin-top: 15px
  }
  &__each-member{
    color: #999;
   font-size: 12px;
    }
  }

.header-right__edi a {
  border: 1px solid #38AEF0;
  color: #38AEF0!important;
  position: absolute; top: 0px;right: 40px;
  height: 40px;
  line-height: 40px;
  margin-top: 28px;
  padding: 0 20px;
 }

.messages{
  background-color: #FAFAFA;
  box-sizing: border-box;
  height: calc(100vh - 100px - 90px);
  overflow: scroll;
  padding: 46px 40px 0;
 }
.message{
    padding-bottom: 40px;
    a{
      color: #999999;
      font-size: 12px;
      margin-left: 10px;
 }
&__upper{
      margin-bottom: 10px;
      display: flex;
 }
&__members{
      color: #434a54;
      font-size: 16px;
      font-weight: bold;
 }
&__chat{
      color: #434a54;
      font-size: 14px;
      margin-bottom: 10px;
 }
}
 
 .form{
  background-color: #DDDDDD;
  box-sizing: border-box;
  height: 90px;
  padding: 20px 50px 20px 40px;
  &__text{
    border: none;
    box-sizing: border-box;
    float: left;
    height: 50px;
    padding: 0 10px;
    width: calc(100% - 150px);
  }
  &__message{
    border: none;
    box-sizing: border-box;
    float: left;
    width: 100%;
    height: 50px;
    padding: 0 10px;
    width: calc(100% - 150px);
  }
  &__mask{
    background-color: #fff;
    float: left;
    height: 50px;
    padding-right: 10px;
    &__image{
      display:block;
      font-size: 20px;
      line-height: 50px;
    }
    .hidden{
      display: none;
    }
    .icon{
      display:block;
      font-size: 20px;
      line-height: 50px;
    }
  }
&__submit{
   line-height: 50px;
    background-color: #38AEF0;
    border: none;
    color: #fff;
    float: right;
    font-size: 16px;
    height: 50px;
    margin-left: 15px;
    padding: 0 30px;
}
}