.message{
  display: flex;
  .side_bar {
   box-sizing: border-box;
   color: #fff;
   width: 300px;
  .header{
    background-color: #253141;
    height: 100px;
    line-height: 100px;
    padding: 0 20px;
    &__name{
      font-size: 16px;
      font-weight: bold; 
      float: left;  
      bottom: 0;   
    }
    &__lists{
    display: inline-flex;
    float: right;
   }
   .list{
    margin-left: 0.3rem;
   } 
  }
 }
}

.groups{
  background-color: #2f3e51;
  height: calc(100vh - 100px);
  padding: 20px 20px 40px;
  box-sizing: border-box;
   .group{
      margin-bottom: 40px;
      &__name{
        color: #fff;
        font-size: 15px;
      }
      &__message{
        color: #fff;
        font-size: 11px;
        margin-top: 5px;
      }
   }
}

.chat{
  width: calc(100% - 300px);
  .header{
    box-sizing: border-box;
    height: 100px;
    padding: 0 40px;
  }
}

.header-left{
  display: inline-block;
  &__title{
  float: left;
  color: #333;
  font-size: 20px;
  margin-top: 35px;
  margin-bottom: 15px;
  }
  &__members{
  color: #999;
  font-size: 12px;
  margin-top: 15px
   }
}

.header-right__edi{
  border: 1px solid #38AEF0;
  color: #38AEF0;
  float: right;
  height: 40px;
  line-height: 40px;
  margin-top: 28px;
  padding: 0 20px;
 }

 .messages{
  background-color: #FAFAFA;
  box-sizing: border-box;
  height: calc(100vh - 100px - 90px);
  overflow: scroll;
  padding: 46px 40px 0;
 }

 .messages__members{
   color: #434A54;
   font-weight: bold;
   font-size: 16px;
 }

 .messages__chat{
  color: #434A54;
  margin-top: 10px;
  font-size: 14px;
 }

 
 .form{
  background-color: #DDDDDD;
  box-sizing: border-box;
  height: 90px;
  padding: 20px 50px 20px 40px;
  &__text{
    border: none;
    box-sizing: border-box;
    float: left;
    height: 50px;
    padding: 0 10px;
    width: calc(100% - 150px);
  }
  &__message{
    border: none;
    box-sizing: border-box;
    float: left;
    width: 100%;
    height: 50px;
    padding: 0 10px;
    width: calc(100% - 150px);
  }
  &__mask{
    background-color: #fff;
    float: left;
    height: 50px;
    padding-right: 10px;
    &__image{
      display:block;
      font-size: 20px;
      line-height: 50px;
    }
    .hidden{
      display: none;
    }
    .icon{
      display:block;
      font-size: 20px;
      line-height: 50px;
    }
  }
}

.form__submit{
   line-height: 50px;
    background-color: #38AEF0;
    border: none;
    color: #fff;
    float: right;
    font-size: 16px;
    height: 50px;
    margin-left: 15px;
    padding: 0 30px;
}
