:link,:visited{
  color: #fff;
}

.message-bar{
  display: flex;
  .side_bar {
   box-sizing: border-box;
   color: #fff;
   width: 300px;
  .header{
    background-color: #253141;
    height: 100px;
    line-height: 100px;
    padding: 0 20px;
    &__name{
      font-size: 16px;
      font-weight: bold; 
      float: left;  
      bottom: 0;   
    }
    &__lists{
    display: inline-flex;
    float: right;
   }
   &__message{
    font-size: 13px;
  }
   .list{
    margin-left: 0.3rem;
   } 
  }
 }
}